//
// _kanban.scss
//

.tasks-board {
  display: flex;
  overflow-x: auto;
  align-items: stretch;
  height: calc(100vh - 280px);
  overflow-y: hidden;

  .tasks-list {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 24px;
    width: 100%;
    background-color: var(--vz-secondary-bg);
    border-radius: var(--vz-border-radius-xl);
    border: 2px solid var(--vz-input-border-custom);
    padding: var(--vz-gutter-x);
    height: 100% !important;
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 10px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--#{$prefix}dark-rgb), 0.075);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }
}

.tasks-box {
  .progress {
    border-radius: 0px 0px $card-border-radius $card-border-radius;
  }

  .tasks-img {
    height: 135px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 12px 0px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.tasks-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-right: 8px;
  .simplebar-track {
    display: none !important;
  }
  scrollbar-width: thin;
  scrollbar-color: var(--vz-border-color) transparent;
}

.tasks {
  min-height: 180px;
  position: relative;

  // &.noTask{
  //     &::before {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     bottom: 0;
  //     height: 180px;
  //     width: 270px;
  //     margin: 0 auto;
  //     background-image: url('../../images/file.png');
  //     background-size: cover;
  //     background-position: center;
  // }
  // }
}

#tasksList {
  tr {
    .tasks-list-menu {
      opacity: 0;
    }

    &:hover {
      .tasks-list-menu {
        opacity: 1;
      }
    }
  }
}

.appointment-btn {
  --#{$prefix}btn-color: var(--white-text-color) !important;
  --#{$prefix}btn-font-weight: 500 !important;
  --#{$prefix}btn-bg: var(--vz-indigo) !important;
  --#{$prefix}btn-border-color: transparent !important;
  --#{$prefix}btn-hover-color: var(--red-white-border) !important;
  --#{$prefix}btn-hover-bg: transparent !important;
  --#{$prefix}btn-hover-border-color: var(--red-white-border) !important;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb) !important;
  --#{$prefix}btn-active-color: var(--red-white-border) !important;
  --#{$prefix}btn-active-bg: transparent !important;
  --#{$prefix}btn-active-border-color: var(--red-white-border) !important;
  --#{$prefix}btn-disabled-bg: var(--vz-indigo) !important;
  --#{$prefix}btn-disabled-border-color: var(--vz-indigo) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vz-indigo), 0.5) !important;
  --#{$prefix}btn-focus-visible-box-shadow: 0 0 0 0.25rem
    rgba(var(--vz-indigo), 0.5) !important;
}
.appointment-dark-btn {
  --#{$prefix}btn-color: var(--white-text-color) !important;
  --#{$prefix}btn-font-weight: 500 !important;
  --#{$prefix}btn-bg: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-border-color: transparent !important;
  --#{$prefix}btn-hover-color: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-hover-bg: transparent !important;
  --#{$prefix}btn-hover-border-color: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb) !important;
  --#{$prefix}btn-active-color: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-active-bg: transparent !important;
  --#{$prefix}btn-active-border-color: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-disabled-bg: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-disabled-border-color: var(--quickcart-btn-bg) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--quickcart-btn-bg), 0.5) !important;
  --#{$prefix}btn-focus-visible-box-shadow: 0 0 0 0.25rem
    rgba(var(--quickcart-btn-bg), 0.5) !important;
}
.add-to-cart-btn {
  --#{$prefix}btn-color: var(--white-text-color) !important;
  --#{$prefix}btn-bg: var(--vz-indigo) !important;
  --#{$prefix}btn-border-color: transparent !important;
  --#{$prefix}btn-hover-color: var(--vz-indigo) !important;
  --#{$prefix}btn-hover-bg: transparent !important;
  --#{$prefix}btn-hover-border-color: var(--vz-indigo) !important;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb) !important;
  --#{$prefix}btn-active-color: var(--vz-indigo) !important;
  --#{$prefix}btn-active-bg: transparent !important;
  --#{$prefix}btn-active-border-color: var(--vz-indigo) !important;
  --#{$prefix}btn-disabled-bg: var(--vz-indigo) !important;
  --#{$prefix}btn-disabled-border-color: var(--vz-indigo) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vz-indigo), 0.5) !important;
}
.checkin-btn {
  --#{$prefix}btn-color: var(--red-white-text);
  --#{$prefix}btn-font-weight: 500 !important;
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: var(--red-white-border);
  --#{$prefix}btn-hover-color: var(--white-text-color);
  --#{$prefix}btn-hover-bg: var(--vz-indigo);
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-color: var(--white-text-color);
  --#{$prefix}btn-active-bg: var(--vz-indigo);
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-disabled-bg: transparent !important;
  --#{$prefix}btn-disabled-border-color: var(--red-white-border) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vz-indigo), 0.5) !important;
}
.checkin-dark-btn {
  --#{$prefix}btn-color: var(--quickcart-btn-bg);
  --#{$prefix}btn-font-weight: 500 !important;
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: var(--quickcart-btn-bg);
  --#{$prefix}btn-hover-color: var(--white-text-color);
  --#{$prefix}btn-hover-bg: var(--quickcart-btn-bg);
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-color: var(--white-text-color);
  --#{$prefix}btn-active-bg: var(--quickcart-btn-bg);
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-disabled-bg: transparent !important;
  --#{$prefix}btn-disabled-border-color: var(--red-white-border) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--quickcart-btn-bg), 0.5) !important;
}
.cancel-redline-btn {
  --#{$prefix}btn-color: var(--vz-indigo);
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: var(--vz-indigo);
  --#{$prefix}btn-hover-color: var(--white-text-color);
  --#{$prefix}btn-hover-bg: var(--vz-indigo);
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-color: var(--white-text-color);
  --#{$prefix}btn-active-bg: var(--vz-indigo);
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-disabled-bg: transparent !important;
  --#{$prefix}btn-disabled-border-color: varvar(--vz-indigo) !important;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vz-indigo), 0.5) !important;
}

// barber panel
.board-leftright-btn {
  border: none !important;
  background: none !important;
  color: var(--vz-card-color);
  font-size: xx-large;
}
.board-leftright-btn:hover {
  border: none !important;
  background: none !important;
  color: var(--input-gray-white-border);
  font-size: xx-large;
}

// Date left right buttons
.filter-leftright-btn {
  border: 1px solid var(--vz-border-color) !important;
  background: none !important;
  color: var(--vz-card-color);
  font-size: xx-large;
  padding: 0px !important;
}
.filter-leftright-btn:hover {
  border: 1px solid var(--vz-border-color) !important;
  background: var(--vz-border-color) !important;
  color: var(--vz-indigo);
  padding: 0px !important;
}

.border-primary {
  border-color: var(--vz-indigo) !important;
}

// All barber Button
.all-btn {
  --#{$prefix}btn-color: var(--vz-indigo);
  --#{$prefix}btn-bg: var(--vz-secondary-bg);
  --#{$prefix}btn-border-color: var(--vz-border-color);
  --#{$prefix}btn-hover-color: var(--vz-border-color);
  --#{$prefix}btn-hover-bg: var(--vz-indigo);
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-bg: var(--vz-indigo);
  --#{$prefix}btn-active-border-color: transparent;
  height: 46px;
  width: 46px;
  font-size: medium;
}

// button bg color
.bg-green {
  background-color: #0ab39d;
}
.text-green {
  color: #008000;
}
// Check in modal
.board-headings {
  color: var(--vz-modal-color) !important;
}

.board-filter-btn {
  --#{$prefix}btn-color: var(--vz-card-color);
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-color: var(--vz-input-border-custom);
  --#{$prefix}btn-hover-color: var(--white-text-color);
  --#{$prefix}btn-hover-bg: var(--vz-indigo);
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-color: var(--white-text-color);
  --#{$prefix}btn-active-bg: var(--vz-indigo);
  --#{$prefix}btn-active-border-color: transparent;
  --#{$prefix}btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vz-indigo), 0.5) !important;
}

.board-scrollbar {
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: var(--vz-border-color) transparent;
}

// For check in and appointment bg
.bg-purple {
  background-color: #a855f7 !important;
  color: #fff;
}
.bg-green {
  background-color: #008000 !important;
  color: #fff;
}

.board-in-salon-btn {
  background-color: #104dc7;
}

// Complete button
.board-complete-btn {
  --#{$prefix}btn-color: #ffffff;
  --#{$prefix}btn-bg: #0ab39d;
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-hover-color: #ffffff;
  --#{$prefix}btn-hover-bg: #0aa590;
  --#{$prefix}btn-hover-border-color: transparent;
  --#{$prefix}btn-focus-shadow-rgb: var(--vz-info-rgb);
  --#{$prefix}btn-active-bg: #0aa590;
  --#{$prefix}btn-active-border-color: transparent;
}

// For Appointment all input fields
.appointment-form-input {
  background-color: transparent !important;
  border: var(--vz-border-width) solid var(--vz-input-border-custom);
  border-radius: 12px !important;
  color: var(--vz-input-color) !important;
}

.input-dropdown-bg {
  background-color: var(--vz-secondary-bg) !important;
  // border: var(--vz-border-width) solid var(--vz-input-border-custom);
  // border-radius: 12px !important;
  color: var(--vz-input-color) !important;
}
.input-dropdown-selected {
  background-color: var(--vz-border-color) !important;
  // border: var(--vz-border-width) solid var(--vz-input-border-custom);
  // border-radius: 12px !important;
  color: var(--vz-indigo) !important;
}

// For Check in all input fields
.checkin-form-input {
  background-color: transparent !important;
  border: var(--vz-border-width) solid var(--vz-input-border-custom);
  // border-radius: 12px !important;
  color: var(--vz-input-color) !important;
}

// .form-control {
//   border: var(--vz-border-width) solid var(--input-gray-white-border);
// }
